@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--responsive-min-device: 350px;
	--responsive-max-device: 1420px;
	--breakpoint-*: initial;
	--breakpoint-mobile: 430px;
	--breakpoint-tablet: 744px;
	--breakpoint-desktop: 1440px;
	/* 
	--color-bg: "#2B2D42";
	--color-title: "#F8F9FA";
	--color-p: "#ADB5BD";
	--color-accent: "#FFC107";
	--color-hover: "#F1C40F";
	--color-secondary: "#393B52"; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

/* width */
*::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

/* Track */
*::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: #adb5bd;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: #2b2d42;
}
