@import "tailwindcss";

@theme {
	--responsive-min-device: 350px;
	--responsive-max-device: 1420px;
	--breakpoint-*: initial;
	--breakpoint-mobile: 430px;
	--breakpoint-tablet: 744px;
	--breakpoint-desktop: 1440px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
