---
import SocialMedia from "./SocialMedia.astro";
---

<div class="flex justify-between items-end gap-4" id="contact">
	<div class="tablet:w-1/4">
		<h2
			class="text-[#F8F9FA] text-2xl tablet:text-4xl text-start tablet:w-full"
		>
			Contact
		</h2>

		<p class="text-[#ADB5BD] mt-2">You can contact me via LinkedIn or Github</p>
	</div>
	<div class="tablet:w-fit">
		<SocialMedia size="34" roundedSize="2xl" />
	</div>
</div>
