<navbar>
	<ul class="px-16 flex md:block items-center justify-around">
		<li>
			<a href="#about" target="_blank" rel="noopener noreferrer">
				<i class="fa-solid fa-user"></i>
			</a>
		</li>
		<li>
			<a href="#skills" target="_blank" rel="noopener noreferrer">
				<i class="fa-solid fa-brain"></i>
			</a>
		</li>
		<li>
			<a href="#projects" target="_blank" rel="noopener noreferrer">
				<i class="fa-solid fa-user"></i>
			</a>
		</li>
		<li>
			<a href="#work" target="_blank" rel="noopener noreferrer">
				<i class="fa-solid fa-briefcase"></i>
			</a>
		</li>
	</ul>
</navbar>
