---
import links from "../utils/navbarInfo.json";
---

<navbar class="pt-4">
	<ul
		class="flex items-center mt-4 justify-around py-3 px-8 border-2 border-black"
	>
		{
			links.map((link) => {
				return (
					<li>
						<a
							href={link.href}
							target="_blank"
							rel="noopener noreferrer"
							class="flex items-center gap-2"
						>
							<i class={`fa-solid ${link.icon}`} />
							<span class="hidden tablet:block">{link.label}</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</navbar>
