---
import links from "../utils/navbarInfo.json";
---

<navbar
	class="min-w-[var(--responsive-min-device)] max-w-[var(--responsive-max-device)] fixed mx-[5%] mt-4 w-[90%]"
>
	<ul
		class="flex items-center justify-around bg-[#2B2D42] rounded-2xl py-4 px-8"
	>
		{
			links.map((link) => {
				return (
					<li class="text-xl">
						<a
							href={link.href}
							rel="noopener noreferrer"
							class="flex justify-center items-center gap-2"
						>
							<i class={`fa-solid ${link.icon} text-[#F1C40F]`} />
							<span class="hidden tablet:block text-[#F8F9FA]">
								{link.label}
							</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</navbar>
