---
import ProjectCard from "./ProjectCard.astro";
---

<section
	class="w-full min-w-[var(--responsive-min-device)] max-w-[var(--responsive-max-device)]"
>
	<div class="flex flex-col justify-center gap-4" id="projects">
		<h2 class="text-[#F8F9FA] text-2xl tablet:text-4xl">Projects</h2>

		<div class="w-full overflow-x-auto pb-3 horizontal-scroll-container">
			<div class="flex flex-nowrap gap-4">
				<ProjectCard
					description=`
Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi est blanditiis error voluptatibus ratione harum natus ea voluptas odio reiciendis eum, velit ex deserunt quam qui, obcaecati soluta ipsam accusamus.`
					image="https://picsum.photos/id/1/200/300"
					status="Production"
					name="DevCorner"
					repo="s"
					web="s"
				/>
			</div>
		</div>
	</div>
</section>
