---
import SkillIcon from "./SkillIcon.astro";
---

<div class="flex flex-col justify-center gap-4 tablet:gap-6" id="skills">
	<h2 class="text-[#F8F9FA] text-2xl tablet:text-4xl text-start tablet:w-full">
		Skills
	</h2>

	<div
		class="grid grid-cols-2 mobile:grid-cols-3 tablet:grid-cols-5 desktop:grid-cols-7 gap-2 w-full"
	>
		<SkillIcon iconName="AWS" loading="lazy" />
		<SkillIcon iconName="Docker" loading="lazy" />
		<SkillIcon iconName="JavaScript" loading="lazy" />
		<SkillIcon iconName="TypeScript" loading="lazy" />
		<SkillIcon iconName="React" loading="eager" />
		<SkillIcon iconName="Astro" loading="eager" />
		<SkillIcon iconName="Bootstrap" loading="lazy" />
		<SkillIcon iconName="ChakraUI" loading="lazy" />
		<SkillIcon iconName="Tailwind" loading="lazy" />
		<SkillIcon iconName="Redux" loading="lazy" />
		<SkillIcon iconName="HTML" loading="lazy" />
		<SkillIcon iconName="CSS" loading="lazy" />
		<SkillIcon iconName="NodeJS" loading="eager" />
		<SkillIcon iconName="Express" loading="eager" />
		<SkillIcon iconName="Flask" loading="lazy" />
		<SkillIcon iconName="SQL" loading="lazy" />
		<SkillIcon iconName="MySQL" loading="lazy" />
		<SkillIcon iconName="PostgreSQL" loading="lazy" />
		<SkillIcon iconName="Python" loading="lazy" />
		<SkillIcon iconName="Git" loading="lazy" />
		<SkillIcon iconName="Github" loading="lazy" />
		<SkillIcon iconName="Postman" loading="lazy" />
		<SkillIcon iconName="Figma" loading="lazy" />
		<SkillIcon iconName="Jira" loading="lazy" />
	</div>
</div>
