---
import { Image } from "astro:assets";
const { iconName, loading } = Astro.props;
---

<div
	class="flex flex-col justify-center items-center bg-[#2B2D42] rounded-2xl w-full p-4 gap-2"
>
	<Image
		loading={loading}
		src={"/icons/skills/" + iconName.toLowerCase() + ".svg"}
		alt={`${iconName} icon`}
		width="40"
		height="40"
	/>
	<p class="text-[#ADB5BD]">{iconName}</p>
</div>
