---
import WorkCard from "./WorkCard.astro";
import work from "../utils/work.json";
---

<div class="flex flex-col justify-center tablet:items-start gap-4" id="skills">
	<h2 class="text-[#F8F9FA] text-2xl tablet:text-4xl text-start tablet:w-full">
		Work experience
	</h2>

	<div
		class="flex justify-center tablet:justify-start items-center mobile:items-stretch flex-wrap gap-2 tablet:px-0 w-full tablet:w-full"
	>
		{
			work.map((item) => (
				<WorkCard
					name={item.name}
					period={item.period}
					role={item.role}
					web={item.web}
					image={item.image ?? "/public/img/projects/placeholder.png"}
				/>
			))
		}
	</div>
</div>
