---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script
			src="https://kit.fontawesome.com/248d93b7fa.js"
			crossorigin="anonymous"></script>
		<title>Jdvd01 portfolio</title>
	</head>
	<body
		class="min-h-screen px-4 tablet:px-8 desktop:px-32 bg-[#393B52] flex flex-col items-center gap-4"
	>
		<slot />
	</body>
</html>
